.carousel {

    height:360px;
    
    }
    
    .carousel-inner &gt; .item &gt; img {
    
    height:360px;
    
    object-fit: contain;
    
    }

/* ------ FORM STYLING ----------------*/
.contact-form
{
			background:#3ea48c;
			color:white;
			margin-top: 50px;
			padding: 20px;
			box-shadow: 0px 0px 10px 3px grey;
      margin-bottom:40px;
      width: 75%;
 }

.form-header
{

  text-align: center;
  margin-block-end: 10px;
  color:antiquewhite;
  font-size: 34px;
  padding-bottom: 20px;
}

#form-description
{
  color:#fff;
  font-family: Rubik, Helvetica, Roboto, Arial,sans-serif;
  margin-right: 60px ;

}
/* ------END OF FORM STYLING ----------------*/
/* Footer */
    .page-footer {
      background-color:#e5e5e5;
      color: black;
      padding: 60px 0 30px;
    }
    .registration-number {
      color: #666;
      padding: 10px 0;
    }
    .GTF-logo img
    {
      width: 400px;
      margin-block-end: 10px;
    
    }
    .GTF-link {
      color:#114371;
      text-decoration: underline;
    }


    .page-footer
    {
        background-color: #9d2e28;
        padding-top: 1rem;
        padding-bottom:1rem;
        
    }